*{
    margin: 0px;
    padding: 0px;
}
#main{
    width: 100%;
    background: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content1{
    position: fixed;
    top:0px;
    width: 80%;
    height: 80px;
    margin: auto;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px;
    box-shadow: 0px 3px 3px #ccd1d3;
}

#img{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#img-1{
    width: 20%;
    height: 100%;

}
#img-1-1{
    width: 100%;
    height: 95%;
    margin-top:4%;
}
#img-2{
    width: 80%;
    height: 100%;
}
#img-2-2{
    width: 100%;
    height: 95%;

}
#nav{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.li{
    list-style: none;
    height: 100%;
    width: 15%;
    font-size: 1.5rem;
    text-align: center;
    margin-top:40px;
    text-decoration: none;
}
#shouye{
    width: 10%;
}
#content2{
    min-height: 700px;
    width: 80%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pro{
    width: 20%;
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px;
    box-shadow: 3px 0px 0px #ccd1d3;
}
.paper-head,.project-head{
    height: 30%;
    font-size: 45px;
    margin-bottom: 30px;
    text-align: center;
}
.pro{
    text-align: center;
    font-size: 24px;
}
.pro p{
    margin-top: 15px;
}
#clearyear li{
    list-style: none;
    font-size: 25px;
    margin-top: 20px;
}
.infolist{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 27px;
}

.li a{
    text-decoration: none;
    color: black;
}
#content3{
    width: 80%;
    height: 130px;
    background: #d5d5d5;
    text-align: center;
    padding-top: 20px;
}
#content3 p{
    margin-top: 12px;
}
 /*鼠标悬停加粗字体功能*/
 li:hover {
    font-weight: bold;
}
 .pro p:hover{
    font-weight: bold;
 }
 /*设置生成的装一个项目的div的格式*/
.paper_box{
    margin-left: 50px;
    margin-bottom: 30px;
}